name: CI

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 'lts'

    - name: Install dependencies
      run: |
        if [ -f package-lock.json ]; then
          npm ci;
        elif [ -f package.json ]; then
          npm install;
        fi

    - name: Run tests
      run: |
        if [ -f package.json ]; then
          if npm run test; then
            npm run build;
          fi
        fi

    - name: Print Node version
      run: node -v